# WordPress core
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/xmlrpc.php
/wp-*.php

# Config local
/wp-config.php
/.htaccess

# Uploads y archivos dinámicos
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/ai1wm-backups/
/wp-content/debug.log

# Themes default de WordPress
/wp-content/themes/twentytwenty*/
/wp-content/themes/twentytwentyfive/

# Backups y exports pesados
*.sql
*.sql.gz
*.zip

# Logs
*.log

# Sistema
.DS_Store
